<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>

  <style type="text/css">
    body {
      font-family: calibri, 'DejaVu Sans', Arial, Helvetica, sans-serif;
      margin: auto;
      width: 50%;
      border: 3px solid steelblue;
      padding: 10px;
    }
    a.link {
      border: solid 1px #000;
      background-color: #000;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      display: block;
      text-align: center;
      margin: auto;
      width: 50%;
      padding: 10px;
    }
  </style>
</head>
<body>
<h1>Reset Password</h1>
<form action="#" th:action="@{/reset-password}" th:object="${test}" method="post">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required="required" />
  <br />
  <br/>

  <label for="oldPassword">Old Password:</label>
  <input type="password" id="oldPassword" name="oldPassword" required="required" />
  <br />
  <br/>

  <label for="password">New Password:</label>
  <input type="password" id="password" name="password" required="required" />
  <br />
  <br/>

  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" required="required" />
  <br />
<!--  <br/>-->

  <input type="text" th:field="*{email}" />

  <button type="submit" class="btn btn-info col-2">Save
    Employee</button></form>
</body>
</html>
